doctype html
html
  head
    title Demo
    meta(charset="UTF-8")
    script(src="lib/jquery/dist/jquery.js")
    script(src="lib/lodash/lodash.js")
    script(src="lib/nicolayer.js")
    script(src="lib/app.js")
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    center
      span(id="layer0" class="nicolayer")
        img(src="images/sample.jpg")
