doctype html
html
  head
    title Demo
    meta(charset="UTF-8")
    script(src="lib/jquery/jquery.js")
    script(src="lib/lodash/dist/lodash.js")
    script(src="lib/nicolayer.js")
    script(src="lib/app.js")
    link(rel="stylesheet" type="text/css" href="nicostyle.css")
  body
    center
      span(id="nicolayer")
        img(src="images/sample.jpg")
