doctype html
html
  head
    title Demo
    meta(charset="UTF-8")
    script(src="./main.js")
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    center
      div(id="layer0" class="nicolayer")
        img(src="images/sample.jpg")
