@import 'nib'

span.nicoComment
  font-weight: bold
  text-align : left
  text-shadow: 2px 2px 2px #000000
  font-size: 50px
  color: white
  font-weight: bold
  width: auto
  white-space: nowrap
  position: absolute
  border-style: solid
  border-color: #dc143c

div.nicolayer
  display: table
  position: relative
  overflow: hidden
